In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:100% !important;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:10pt;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
</style>
"""))

In [2]:
import pandas as pd

In [3]:
# 불법복제물 오프라인 단속 현황 
data_illegal = pd.read_csv('data/(재)한국저작권보호원_불법복제물 오프라인 단속현황_20201021.csv', encoding='CP949')
data_illegal.sample(3)

,단속일자,광역시/도,시/군/구,주소,단속구분,불법복제물장르구분,음악_카세트_저작물개수,음악_cd_저작물개수,음악_sd카드_저작물개수,음악_usb_저작물개수,...,출판_서적_저작물개수,출판_북스캔_저작물개수,출판_기타_저작물개수,게임_cd_저작물개수,게임_칩_저작물개수,게임_sd카드_저작물개수,게임_기타_저작물개수,캐릭터_인형_저작물개수,캐릭터_완구_저작물개수,캐릭터_기타_저작물개수
2743,2015-06-18,서울,영등포구,대림동대세계노래방앞,상시단속,음악,0,0.0,5202.0,0,...,0.0,0.0,0,0,0,0,0,0,0,0
4603,2016-05-20,경기,안산시,안산오일장내 주차장앞,상시단속,영상,0,0.0,0.0,0,...,0.0,0.0,0,0,0,0,0,0,0,0
5586,2017-01-19,울산,울주군,춘해보건대 교외 세종기획,상시단속,출판,0,0.0,0.0,0,...,12.0,0.0,0,0,0,0,0,0,0,0

In [4]:
data_illegal = data_illegal.iloc[:, :10]
data_illegal = data_illegal.loc[data_illegal['불법복제물장르구분']=='음악', :]
data_illegal

,단속일자,광역시/도,시/군/구,주소,단속구분,불법복제물장르구분,음악_카세트_저작물개수,음악_cd_저작물개수,음악_sd카드_저작물개수,음악_usb_저작물개수
0,2014-01-08,경기,고양시,일산서구 일산동일산5일장 김밥전문점앞,상시단속,음악,0,0.0,6600.0,0
3,2014-01-08,서울,서대문구,홍제동국민은행 앞,상시단속,음악,0,0.0,2207.0,0
4,2014-01-08,경북,포항시,북구 상원동448-17포항시내,상시단속,음악,0,320.0,0.0,0
5,2014-01-09,경기,파주시,문산읍문산제일시장내류이제앞,상시단속,음악,0,0.0,2200.0,0
6,2014-01-09,경기,파주시,문산읍문산제일시장내아구나라앞,상시단속,음악,0,0.0,6200.0,0
...,...,...,...,...,...,...,...,...,...,...
7605,2019-07-04,인천,중구,"동인천역 5,6번 출구 지하상가 입구",상시단속,음악,0,0.0,243.0,0
7606,2019-07-05,전남,완도군,완도읍,상시단속,음악,0,0.0,12460.0,0
7607,2019-07-05,전남,나주시,이창동,상시단속,음악,0,0.0,12676.0,0
7608,2019-07-08,전남,화순군,화순읍,상시단속,음악,0,0.0,11074.0,0
7610,2019-07-08,경북,문경시,점촌동,상시단속,음악,0,35.0,0.0,0

In [5]:
# 음악 불법 복제물 유통량 
illegal_distribute = pd.read_csv('data/한국저작권보호원_콘텐츠별 불법복제물 유통량(08년_17년).csv', encoding='CP949')
illegal_distribute = illegal_distribute.head(1)
illegal_distribute

,구분,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년
0,음악분야 불법복제물 유통량,2555927,1767265,1120035,1291569,1327019,1662420,1509763,1270686,1522608,1297379

In [6]:
# 음악 온라인 불법 복제물 경험률 
illegal_exper = pd.read_csv('data/한국저작권보호원_콘텐츠별 온라인 불법복제물 경험률(08년_17년).csv', encoding='CP949')
illegal_exper = illegal_exper.head(1)
illegal_exper

,구 분,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년
0,음악분야 온라인 불법복제물 경험률,40.7,24.1,19.5,19.0,17.0,17.9,22.2,17.9,20.3,16.6

In [60]:
# 음악 불법 복제물 유통량과 복제물 경험률 concat 
illegal = pd.concat([illegal_distribute, illegal_exper])
illegal

,구분,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,구 분
0,음악분야 불법복제물 유통량,2555927.0,1767265.0,1120035.0,1291569.0,1327019.0,1662420.0,1509763.0,1270686.0,1522608.0,1297379.0,NaN
0,NaN,40.7,24.1,19.5,19.0,17.0,17.9,22.2,17.9,20.3,16.6,음악분야 온라인 불법복제물 경험률

In [7]:
# 저작권 시장(전 분야) 침해 규모 
right_demage = pd.read_csv('data/한국저작권보호원_연도별 합법저작물 시장 침해규모(08년_17년)_20190111.csv',
                           encoding='CP949')
right_demage

   연번    연도  금액(백만원)
0   1  2008  2423465
1   2  2009  2249740
2   3  2010  2117251
3   4  2011  2498661
4   5  2012  2218550
5   6  2013  2398657
6   7  2014  2297782
7   8  2015  2317400
8   9  2016  2384340
9  10  2017  2564553

In [47]:
online_music_service = pd.read_excel('data/행정안전부_온라인음악서비스제공업.xlsx')
online_music_service.sample()

,번호,개방서비스명,개방서비스ID,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,음향시설여부,편의시설여부,소방시설여부,총게임기수,기존게임업외업종명,제공게임물명,공연장형태구분명,품목명,최초등록시점,지역구분명
96,97,온라인음악서비스제공업,03_14_01_P,4470000,CDFF3241042020000001,20200903.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 전체 저작물 시장 침해규모에서 음악 저작물이 차지하는 비율

In [ ]:
#